/*
 * qTest Manager API Version 8.6 - 10.2
 * qTest Manager API Version 8.6 - 10.2
 *
 * OpenAPI spec version: 8.6 - 10.2
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package com.neotys.qtest.api.client.api;

import com.neotys.qtest.api.client.*;
import com.neotys.qtest.api.client.model.FieldResource;
import com.neotys.qtest.api.client.QtestApiClient;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class CommonApi {
    private QtestApiClient qtestApiClient;

    public CommonApi() {
        this(Configuration.getDefaultQtestApiClient());
    }

    public CommonApi(QtestApiClient qtestApiClient) {
        this.qtestApiClient = qtestApiClient;
    }

    public QtestApiClient getQtestApiClient() {
        return qtestApiClient;
    }

    public void setQtestApiClient(QtestApiClient qtestApiClient) {
        this.qtestApiClient = qtestApiClient;
    }

    /**
     * Build call for editSystemField
     * @param projectId ID of the project (required)
     * @param fieldId ID of the field. (required)
     * @param body Given resource to edit a system field. (required)
     * @param objectType The object type. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws QtestApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call editSystemFieldCall(Long projectId, Long fieldId, FieldResource body, String objectType, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/api/v3/projects/{projectId}/settings/{objectType}/system-fields/{fieldId}"
            .replaceAll("\\{" + "projectId" + "\\}", qtestApiClient.escapeString(projectId.toString()))
            .replaceAll("\\{" + "fieldId" + "\\}", qtestApiClient.escapeString(fieldId.toString()))
            .replaceAll("\\{" + "objectType" + "\\}", qtestApiClient.escapeString(objectType.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = qtestApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = qtestApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            qtestApiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return qtestApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call editSystemFieldValidateBeforeCall(Long projectId, Long fieldId, FieldResource body, String objectType, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        
        // verify the required parameter 'projectId' is set
        if (projectId == null) {
            throw new QtestApiException("Missing the required parameter 'projectId' when calling editSystemField(Async)");
        }
        
        // verify the required parameter 'fieldId' is set
        if (fieldId == null) {
            throw new QtestApiException("Missing the required parameter 'fieldId' when calling editSystemField(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new QtestApiException("Missing the required parameter 'body' when calling editSystemField(Async)");
        }
        
        // verify the required parameter 'objectType' is set
        if (objectType == null) {
            throw new QtestApiException("Missing the required parameter 'objectType' when calling editSystemField(Async)");
        }
        

        com.squareup.okhttp.Call call = editSystemFieldCall(projectId, fieldId, body, objectType, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Edit System Field of an Object Type by the field
     * To edit System Field of an Object Type by the field
     * @param projectId ID of the project (required)
     * @param fieldId ID of the field. (required)
     * @param body Given resource to edit a system field. (required)
     * @param objectType The object type. (required)
     * @return FieldResource
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public FieldResource editSystemField(Long projectId, Long fieldId, FieldResource body, String objectType) throws QtestApiException {
        ApiResponse<FieldResource> resp = editSystemFieldWithHttpInfo(projectId, fieldId, body, objectType);
        return resp.getData();
    }

    /**
     * Edit System Field of an Object Type by the field
     * To edit System Field of an Object Type by the field
     * @param projectId ID of the project (required)
     * @param fieldId ID of the field. (required)
     * @param body Given resource to edit a system field. (required)
     * @param objectType The object type. (required)
     * @return ApiResponse&lt;FieldResource&gt;
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<FieldResource> editSystemFieldWithHttpInfo(Long projectId, Long fieldId, FieldResource body, String objectType) throws QtestApiException {
        com.squareup.okhttp.Call call = editSystemFieldValidateBeforeCall(projectId, fieldId, body, objectType, null, null);
        Type localVarReturnType = new TypeToken<FieldResource>(){}.getType();
        return qtestApiClient.execute(call, localVarReturnType);
    }

    /**
     * Edit System Field of an Object Type by the field (asynchronously)
     * To edit System Field of an Object Type by the field
     * @param projectId ID of the project (required)
     * @param fieldId ID of the field. (required)
     * @param body Given resource to edit a system field. (required)
     * @param objectType The object type. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws QtestApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call editSystemFieldAsync(Long projectId, Long fieldId, FieldResource body, String objectType, final ApiCallback<FieldResource> callback) throws QtestApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = editSystemFieldValidateBeforeCall(projectId, fieldId, body, objectType, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<FieldResource>(){}.getType();
        qtestApiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for updateCustomField
     * @param projectId ID of the project (required)
     * @param objectType The object type (required)
     * @param body Given resource to update custom fields. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws QtestApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call updateCustomFieldCall(Long projectId, String objectType, List<FieldResource> body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/api/v3/projects/{projectId}/settings/{objectType}/custom-fields/active"
            .replaceAll("\\{" + "projectId" + "\\}", qtestApiClient.escapeString(projectId.toString()))
            .replaceAll("\\{" + "objectType" + "\\}", qtestApiClient.escapeString(objectType.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = qtestApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = qtestApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            qtestApiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return qtestApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call updateCustomFieldValidateBeforeCall(Long projectId, String objectType, List<FieldResource> body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        
        // verify the required parameter 'projectId' is set
        if (projectId == null) {
            throw new QtestApiException("Missing the required parameter 'projectId' when calling updateCustomField(Async)");
        }
        
        // verify the required parameter 'objectType' is set
        if (objectType == null) {
            throw new QtestApiException("Missing the required parameter 'objectType' when calling updateCustomField(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new QtestApiException("Missing the required parameter 'body' when calling updateCustomField(Async)");
        }
        

        com.squareup.okhttp.Call call = updateCustomFieldCall(projectId, objectType, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Update active or inactive custom fields of an Object Type
     * To update active or inactive custom fields of an Object Type
     * @param projectId ID of the project (required)
     * @param objectType The object type (required)
     * @param body Given resource to update custom fields. (required)
     * @return List&lt;FieldResource&gt;
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<FieldResource> updateCustomField(Long projectId, String objectType, List<FieldResource> body) throws QtestApiException {
        ApiResponse<List<FieldResource>> resp = updateCustomFieldWithHttpInfo(projectId, objectType, body);
        return resp.getData();
    }

    /**
     * Update active or inactive custom fields of an Object Type
     * To update active or inactive custom fields of an Object Type
     * @param projectId ID of the project (required)
     * @param objectType The object type (required)
     * @param body Given resource to update custom fields. (required)
     * @return ApiResponse&lt;List&lt;FieldResource&gt;&gt;
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<FieldResource>> updateCustomFieldWithHttpInfo(Long projectId, String objectType, List<FieldResource> body) throws QtestApiException {
        com.squareup.okhttp.Call call = updateCustomFieldValidateBeforeCall(projectId, objectType, body, null, null);
        Type localVarReturnType = new TypeToken<List<FieldResource>>(){}.getType();
        return qtestApiClient.execute(call, localVarReturnType);
    }

    /**
     * Update active or inactive custom fields of an Object Type (asynchronously)
     * To update active or inactive custom fields of an Object Type
     * @param projectId ID of the project (required)
     * @param objectType The object type (required)
     * @param body Given resource to update custom fields. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws QtestApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call updateCustomFieldAsync(Long projectId, String objectType, List<FieldResource> body, final ApiCallback<List<FieldResource>> callback) throws QtestApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = updateCustomFieldValidateBeforeCall(projectId, objectType, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<FieldResource>>(){}.getType();
        qtestApiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
