/*
 * qTest Manager API Version 8.6 - 10.2
 * qTest Manager API Version 8.6 - 10.2
 *
 * OpenAPI spec version: 8.6 - 10.2
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package com.neotys.qtest.api.client.api;

import com.neotys.qtest.api.client.*;
import com.neotys.qtest.api.client.QtestApiClient;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.neotys.qtest.api.client.model.LinkedArtifactContainer;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ObjectLinkApi {
    private QtestApiClient qtestApiClient;

    public ObjectLinkApi() {
        this(Configuration.getDefaultQtestApiClient());
    }

    public ObjectLinkApi(QtestApiClient qtestApiClient) {
        this.qtestApiClient = qtestApiClient;
    }

    public QtestApiClient getQtestApiClient() {
        return qtestApiClient;
    }

    public void setQtestApiClient(QtestApiClient qtestApiClient) {
        this.qtestApiClient = qtestApiClient;
    }

    /**
     * Build call for find
     * @param projectId ID of the project (required)
     * @param type Valid values include &lt;em&gt;releases&lt;/em&gt;, &lt;em&gt;builds&lt;/em&gt;, &lt;em&gt;requirements&lt;/em&gt;,&lt;em&gt;test-cases&lt;/em&gt;, &lt;em&gt;test-runs&lt;/em&gt;, &lt;em&gt;test-logs&lt;/em&gt;, &lt;em&gt;test-steps&lt;/em&gt; or &lt;em&gt;defects&lt;/em&gt; (required)
     * @param ids IDs of objects whose links you want to retrieve (optional)
     * @param pids In case of &lt;em&gt;type&#x3D;defects&lt;/em&gt;, you can specify a list of external defect id in this parameters.  It cannot be used for other types (optional)
     * @param trofSharedprojects  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws QtestApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call findCall(Long projectId, String type, List<Long> ids, List<String> pids, Boolean trofSharedprojects, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v3/projects/{projectId}/linked-artifacts"
            .replaceAll("\\{" + "projectId" + "\\}", qtestApiClient.escapeString(projectId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (type != null)
        localVarQueryParams.addAll(qtestApiClient.parameterToPair("type", type));
        if (ids != null)
        localVarCollectionQueryParams.addAll(qtestApiClient.parameterToPairs("multi", "ids", ids));
        if (pids != null)
        localVarCollectionQueryParams.addAll(qtestApiClient.parameterToPairs("multi", "pids", pids));
        if (trofSharedprojects != null)
        localVarQueryParams.addAll(qtestApiClient.parameterToPair("TRofSharedprojects", trofSharedprojects));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = qtestApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = qtestApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            qtestApiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return qtestApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call findValidateBeforeCall(Long projectId, String type, List<Long> ids, List<String> pids, Boolean trofSharedprojects, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        
        // verify the required parameter 'projectId' is set
        if (projectId == null) {
            throw new QtestApiException("Missing the required parameter 'projectId' when calling find(Async)");
        }
        
        // verify the required parameter 'type' is set
        if (type == null) {
            throw new QtestApiException("Missing the required parameter 'type' when calling find(Async)");
        }
        

        com.squareup.okhttp.Call call = findCall(projectId, type, ids, pids, trofSharedprojects, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Gets associated objects of given objects
     * To retrieve associated objects of given objects  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 7.5+
     * @param projectId ID of the project (required)
     * @param type Valid values include &lt;em&gt;releases&lt;/em&gt;, &lt;em&gt;builds&lt;/em&gt;, &lt;em&gt;requirements&lt;/em&gt;,&lt;em&gt;test-cases&lt;/em&gt;, &lt;em&gt;test-runs&lt;/em&gt;, &lt;em&gt;test-logs&lt;/em&gt;, &lt;em&gt;test-steps&lt;/em&gt; or &lt;em&gt;defects&lt;/em&gt; (required)
     * @param ids IDs of objects whose links you want to retrieve (optional)
     * @param pids In case of &lt;em&gt;type&#x3D;defects&lt;/em&gt;, you can specify a list of external defect id in this parameters.  It cannot be used for other types (optional)
     * @param trofSharedprojects  (optional)
     * @return List&lt;LinkedArtifactContainer&gt;
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<LinkedArtifactContainer> find(Long projectId, String type, List<Long> ids, List<String> pids, Boolean trofSharedprojects) throws QtestApiException {
        ApiResponse<List<LinkedArtifactContainer>> resp = findWithHttpInfo(projectId, type, ids, pids, trofSharedprojects);
        return resp.getData();
    }

    /**
     * Gets associated objects of given objects
     * To retrieve associated objects of given objects  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 7.5+
     * @param projectId ID of the project (required)
     * @param type Valid values include &lt;em&gt;releases&lt;/em&gt;, &lt;em&gt;builds&lt;/em&gt;, &lt;em&gt;requirements&lt;/em&gt;,&lt;em&gt;test-cases&lt;/em&gt;, &lt;em&gt;test-runs&lt;/em&gt;, &lt;em&gt;test-logs&lt;/em&gt;, &lt;em&gt;test-steps&lt;/em&gt; or &lt;em&gt;defects&lt;/em&gt; (required)
     * @param ids IDs of objects whose links you want to retrieve (optional)
     * @param pids In case of &lt;em&gt;type&#x3D;defects&lt;/em&gt;, you can specify a list of external defect id in this parameters.  It cannot be used for other types (optional)
     * @param trofSharedprojects  (optional)
     * @return ApiResponse&lt;List&lt;LinkedArtifactContainer&gt;&gt;
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<LinkedArtifactContainer>> findWithHttpInfo(Long projectId, String type, List<Long> ids, List<String> pids, Boolean trofSharedprojects) throws QtestApiException {
        com.squareup.okhttp.Call call = findValidateBeforeCall(projectId, type, ids, pids, trofSharedprojects, null, null);
        Type localVarReturnType = new TypeToken<List<LinkedArtifactContainer>>(){}.getType();
        return qtestApiClient.execute(call, localVarReturnType);
    }

    /**
     * Gets associated objects of given objects (asynchronously)
     * To retrieve associated objects of given objects  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 7.5+
     * @param projectId ID of the project (required)
     * @param type Valid values include &lt;em&gt;releases&lt;/em&gt;, &lt;em&gt;builds&lt;/em&gt;, &lt;em&gt;requirements&lt;/em&gt;,&lt;em&gt;test-cases&lt;/em&gt;, &lt;em&gt;test-runs&lt;/em&gt;, &lt;em&gt;test-logs&lt;/em&gt;, &lt;em&gt;test-steps&lt;/em&gt; or &lt;em&gt;defects&lt;/em&gt; (required)
     * @param ids IDs of objects whose links you want to retrieve (optional)
     * @param pids In case of &lt;em&gt;type&#x3D;defects&lt;/em&gt;, you can specify a list of external defect id in this parameters.  It cannot be used for other types (optional)
     * @param trofSharedprojects  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws QtestApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call findAsync(Long projectId, String type, List<Long> ids, List<String> pids, Boolean trofSharedprojects, final ApiCallback<List<LinkedArtifactContainer>> callback) throws QtestApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = findValidateBeforeCall(projectId, type, ids, pids, trofSharedprojects, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<LinkedArtifactContainer>>(){}.getType();
        qtestApiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for linkArtifacts
     * @param projectId ID of the project (required)
     * @param objectType the object type of the source object. Valid values include requirements, builds, test-steps, test-logs, releases (required)
     * @param type The object type of the associated objects which are being added to the source object.   Valid values include releases, builds, requirements, test-cases, test-runs, test-logs, test-steps or defects (required)
     * @param body A JSONArray of associated object IDs which are being added to the source object (required)
     * @param objectId ID of the source object (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws QtestApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call linkArtifactsCall(Long projectId, String objectType, String type, List<Long> body, Long objectId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/api/v3/projects/{projectId}/{objectType}/{objectId}/link"
            .replaceAll("\\{" + "projectId" + "\\}", qtestApiClient.escapeString(projectId.toString()))
            .replaceAll("\\{" + "objectType" + "\\}", qtestApiClient.escapeString(objectType.toString()))
            .replaceAll("\\{" + "objectId" + "\\}", qtestApiClient.escapeString(objectId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (type != null)
        localVarQueryParams.addAll(qtestApiClient.parameterToPair("type", type));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = qtestApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = qtestApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            qtestApiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return qtestApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call linkArtifactsValidateBeforeCall(Long projectId, String objectType, String type, List<Long> body, Long objectId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        
        // verify the required parameter 'projectId' is set
        if (projectId == null) {
            throw new QtestApiException("Missing the required parameter 'projectId' when calling linkArtifacts(Async)");
        }
        
        // verify the required parameter 'objectType' is set
        if (objectType == null) {
            throw new QtestApiException("Missing the required parameter 'objectType' when calling linkArtifacts(Async)");
        }
        
        // verify the required parameter 'type' is set
        if (type == null) {
            throw new QtestApiException("Missing the required parameter 'type' when calling linkArtifacts(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new QtestApiException("Missing the required parameter 'body' when calling linkArtifacts(Async)");
        }
        
        // verify the required parameter 'objectId' is set
        if (objectId == null) {
            throw new QtestApiException("Missing the required parameter 'objectId' when calling linkArtifacts(Async)");
        }
        

        com.squareup.okhttp.Call call = linkArtifactsCall(projectId, objectType, type, body, objectId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Creates links between objects
     * To add associated objects to another object
     * @param projectId ID of the project (required)
     * @param objectType the object type of the source object. Valid values include requirements, builds, test-steps, test-logs, releases (required)
     * @param type The object type of the associated objects which are being added to the source object.   Valid values include releases, builds, requirements, test-cases, test-runs, test-logs, test-steps or defects (required)
     * @param body A JSONArray of associated object IDs which are being added to the source object (required)
     * @param objectId ID of the source object (required)
     * @return List&lt;LinkedArtifactContainer&gt;
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<LinkedArtifactContainer> linkArtifacts(Long projectId, String objectType, String type, List<Long> body, Long objectId) throws QtestApiException {
        ApiResponse<List<LinkedArtifactContainer>> resp = linkArtifactsWithHttpInfo(projectId, objectType, type, body, objectId);
        return resp.getData();
    }

    /**
     * Creates links between objects
     * To add associated objects to another object
     * @param projectId ID of the project (required)
     * @param objectType the object type of the source object. Valid values include requirements, builds, test-steps, test-logs, releases (required)
     * @param type The object type of the associated objects which are being added to the source object.   Valid values include releases, builds, requirements, test-cases, test-runs, test-logs, test-steps or defects (required)
     * @param body A JSONArray of associated object IDs which are being added to the source object (required)
     * @param objectId ID of the source object (required)
     * @return ApiResponse&lt;List&lt;LinkedArtifactContainer&gt;&gt;
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<LinkedArtifactContainer>> linkArtifactsWithHttpInfo(Long projectId, String objectType, String type, List<Long> body, Long objectId) throws QtestApiException {
        com.squareup.okhttp.Call call = linkArtifactsValidateBeforeCall(projectId, objectType, type, body, objectId, null, null);
        Type localVarReturnType = new TypeToken<List<LinkedArtifactContainer>>(){}.getType();
        return qtestApiClient.execute(call, localVarReturnType);
    }

    /**
     * Creates links between objects (asynchronously)
     * To add associated objects to another object
     * @param projectId ID of the project (required)
     * @param objectType the object type of the source object. Valid values include requirements, builds, test-steps, test-logs, releases (required)
     * @param type The object type of the associated objects which are being added to the source object.   Valid values include releases, builds, requirements, test-cases, test-runs, test-logs, test-steps or defects (required)
     * @param body A JSONArray of associated object IDs which are being added to the source object (required)
     * @param objectId ID of the source object (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws QtestApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call linkArtifactsAsync(Long projectId, String objectType, String type, List<Long> body, Long objectId, final ApiCallback<List<LinkedArtifactContainer>> callback) throws QtestApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = linkArtifactsValidateBeforeCall(projectId, objectType, type, body, objectId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<LinkedArtifactContainer>>(){}.getType();
        qtestApiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for unlinkArtifacts
     * @param projectId ID of the project (required)
     * @param objectType The object type of the source object. Valid values include requirements, builds, test-steps, test-logs, releases (required)
     * @param type The object type of the associated objects which are being added to the source object.   Valid values include releases, builds, requirements, test-cases, test-runs, test-logs, test-steps or defects (required)
     * @param body A JSONArray of associated object IDs which are being removed from the source object (required)
     * @param objectId ID of the source object (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws QtestApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call unlinkArtifactsCall(Long projectId, String objectType, String type, List<Long> body, Long objectId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/api/v3/projects/{projectId}/{objectType}/{objectId}/link"
            .replaceAll("\\{" + "projectId" + "\\}", qtestApiClient.escapeString(projectId.toString()))
            .replaceAll("\\{" + "objectType" + "\\}", qtestApiClient.escapeString(objectType.toString()))
            .replaceAll("\\{" + "objectId" + "\\}", qtestApiClient.escapeString(objectId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (type != null)
        localVarQueryParams.addAll(qtestApiClient.parameterToPair("type", type));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = qtestApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = qtestApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            qtestApiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return qtestApiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call unlinkArtifactsValidateBeforeCall(Long projectId, String objectType, String type, List<Long> body, Long objectId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        
        // verify the required parameter 'projectId' is set
        if (projectId == null) {
            throw new QtestApiException("Missing the required parameter 'projectId' when calling unlinkArtifacts(Async)");
        }
        
        // verify the required parameter 'objectType' is set
        if (objectType == null) {
            throw new QtestApiException("Missing the required parameter 'objectType' when calling unlinkArtifacts(Async)");
        }
        
        // verify the required parameter 'type' is set
        if (type == null) {
            throw new QtestApiException("Missing the required parameter 'type' when calling unlinkArtifacts(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new QtestApiException("Missing the required parameter 'body' when calling unlinkArtifacts(Async)");
        }
        
        // verify the required parameter 'objectId' is set
        if (objectId == null) {
            throw new QtestApiException("Missing the required parameter 'objectId' when calling unlinkArtifacts(Async)");
        }
        

        com.squareup.okhttp.Call call = unlinkArtifactsCall(projectId, objectType, type, body, objectId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Removes links between objects
     * To remove associated objects from another object
     * @param projectId ID of the project (required)
     * @param objectType The object type of the source object. Valid values include requirements, builds, test-steps, test-logs, releases (required)
     * @param type The object type of the associated objects which are being added to the source object.   Valid values include releases, builds, requirements, test-cases, test-runs, test-logs, test-steps or defects (required)
     * @param body A JSONArray of associated object IDs which are being removed from the source object (required)
     * @param objectId ID of the source object (required)
     * @return Object
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Object unlinkArtifacts(Long projectId, String objectType, String type, List<Long> body, Long objectId) throws QtestApiException {
        ApiResponse<Object> resp = unlinkArtifactsWithHttpInfo(projectId, objectType, type, body, objectId);
        return resp.getData();
    }

    /**
     * Removes links between objects
     * To remove associated objects from another object
     * @param projectId ID of the project (required)
     * @param objectType The object type of the source object. Valid values include requirements, builds, test-steps, test-logs, releases (required)
     * @param type The object type of the associated objects which are being added to the source object.   Valid values include releases, builds, requirements, test-cases, test-runs, test-logs, test-steps or defects (required)
     * @param body A JSONArray of associated object IDs which are being removed from the source object (required)
     * @param objectId ID of the source object (required)
     * @return ApiResponse&lt;Object&gt;
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Object> unlinkArtifactsWithHttpInfo(Long projectId, String objectType, String type, List<Long> body, Long objectId) throws QtestApiException {
        com.squareup.okhttp.Call call = unlinkArtifactsValidateBeforeCall(projectId, objectType, type, body, objectId, null, null);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        return qtestApiClient.execute(call, localVarReturnType);
    }

    /**
     * Removes links between objects (asynchronously)
     * To remove associated objects from another object
     * @param projectId ID of the project (required)
     * @param objectType The object type of the source object. Valid values include requirements, builds, test-steps, test-logs, releases (required)
     * @param type The object type of the associated objects which are being added to the source object.   Valid values include releases, builds, requirements, test-cases, test-runs, test-logs, test-steps or defects (required)
     * @param body A JSONArray of associated object IDs which are being removed from the source object (required)
     * @param objectId ID of the source object (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws QtestApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call unlinkArtifactsAsync(Long projectId, String objectType, String type, List<Long> body, Long objectId, final ApiCallback<Object> callback) throws QtestApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = unlinkArtifactsValidateBeforeCall(projectId, objectType, type, body, objectId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        qtestApiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
