/*
 * qTest Manager API Version 8.6 - 10.2
 * qTest Manager API Version 8.6 - 10.2
 *
 * OpenAPI spec version: 8.6 - 10.2
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package com.neotys.qtest.api.client.api;

import com.neotys.qtest.api.client.*;
import com.neotys.qtest.api.client.model.ProjectUpdateResource;
import com.neotys.qtest.api.client.QtestApiClient;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.neotys.qtest.api.client.model.ProjectQueryParams;
import com.neotys.qtest.api.client.model.ProjectResource;
import com.neotys.qtest.api.client.model.UserProfile;
import com.neotys.qtest.api.client.model.UserResource;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ProjectApi {
    private QtestApiClient qtestApiClient;

    public ProjectApi() {
        this(Configuration.getDefaultQtestApiClient());
    }

    public ProjectApi(QtestApiClient qtestApiClient) {
        this.qtestApiClient = qtestApiClient;
    }

    public QtestApiClient getQtestApiClient() {
        return qtestApiClient;
    }

    public void setQtestApiClient(QtestApiClient qtestApiClient) {
        this.qtestApiClient = qtestApiClient;
    }

    /**
     * Build call for createProject
     * @param body Project created properties   &lt;em&gt;name:&lt;/em&gt; name of project  &lt;em&gt;description:&lt;/em&gt; description of project  &lt;em&gt;status_id:&lt;/em&gt; status of project  &lt;em&gt;start_date:&lt;/em&gt; start date of project, eg: 2019-06-17T05:09:13.178Z  &lt;em&gt;end_date:&lt;/em&gt; end date of project, eg: 2019-06-27T05:09:13.178Z  &lt;em&gt;admins:&lt;/em&gt; list assigned admin of project  &lt;em&gt;template_id (optional):&lt;/em&gt; valid site template id of project. After creating a project, the valid site template filed will be applied for it  &lt;em&gt;uuid (optional):&lt;/em&gt; uuid of project. User can provide any string value for uuid, then they can used it for searching projects. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws QtestApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createProjectCall(ProjectResource body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/api/v3/projects";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = qtestApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = qtestApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            qtestApiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return qtestApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createProjectValidateBeforeCall(ProjectResource body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new QtestApiException("Missing the required parameter 'body' when calling createProject(Async)");
        }
        

        com.squareup.okhttp.Call call = createProjectCall(body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Creates a Project
     * To create a new Project  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 4+
     * @param body Project created properties   &lt;em&gt;name:&lt;/em&gt; name of project  &lt;em&gt;description:&lt;/em&gt; description of project  &lt;em&gt;status_id:&lt;/em&gt; status of project  &lt;em&gt;start_date:&lt;/em&gt; start date of project, eg: 2019-06-17T05:09:13.178Z  &lt;em&gt;end_date:&lt;/em&gt; end date of project, eg: 2019-06-27T05:09:13.178Z  &lt;em&gt;admins:&lt;/em&gt; list assigned admin of project  &lt;em&gt;template_id (optional):&lt;/em&gt; valid site template id of project. After creating a project, the valid site template filed will be applied for it  &lt;em&gt;uuid (optional):&lt;/em&gt; uuid of project. User can provide any string value for uuid, then they can used it for searching projects. (required)
     * @return ProjectResource
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ProjectResource createProject(ProjectResource body) throws QtestApiException {
        ApiResponse<ProjectResource> resp = createProjectWithHttpInfo(body);
        return resp.getData();
    }

    /**
     * Creates a Project
     * To create a new Project  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 4+
     * @param body Project created properties   &lt;em&gt;name:&lt;/em&gt; name of project  &lt;em&gt;description:&lt;/em&gt; description of project  &lt;em&gt;status_id:&lt;/em&gt; status of project  &lt;em&gt;start_date:&lt;/em&gt; start date of project, eg: 2019-06-17T05:09:13.178Z  &lt;em&gt;end_date:&lt;/em&gt; end date of project, eg: 2019-06-27T05:09:13.178Z  &lt;em&gt;admins:&lt;/em&gt; list assigned admin of project  &lt;em&gt;template_id (optional):&lt;/em&gt; valid site template id of project. After creating a project, the valid site template filed will be applied for it  &lt;em&gt;uuid (optional):&lt;/em&gt; uuid of project. User can provide any string value for uuid, then they can used it for searching projects. (required)
     * @return ApiResponse&lt;ProjectResource&gt;
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ProjectResource> createProjectWithHttpInfo(ProjectResource body) throws QtestApiException {
        com.squareup.okhttp.Call call = createProjectValidateBeforeCall(body, null, null);
        Type localVarReturnType = new TypeToken<ProjectResource>(){}.getType();
        return qtestApiClient.execute(call, localVarReturnType);
    }

    /**
     * Creates a Project (asynchronously)
     * To create a new Project  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 4+
     * @param body Project created properties   &lt;em&gt;name:&lt;/em&gt; name of project  &lt;em&gt;description:&lt;/em&gt; description of project  &lt;em&gt;status_id:&lt;/em&gt; status of project  &lt;em&gt;start_date:&lt;/em&gt; start date of project, eg: 2019-06-17T05:09:13.178Z  &lt;em&gt;end_date:&lt;/em&gt; end date of project, eg: 2019-06-27T05:09:13.178Z  &lt;em&gt;admins:&lt;/em&gt; list assigned admin of project  &lt;em&gt;template_id (optional):&lt;/em&gt; valid site template id of project. After creating a project, the valid site template filed will be applied for it  &lt;em&gt;uuid (optional):&lt;/em&gt; uuid of project. User can provide any string value for uuid, then they can used it for searching projects. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws QtestApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createProjectAsync(ProjectResource body, final ApiCallback<ProjectResource> callback) throws QtestApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createProjectValidateBeforeCall(body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ProjectResource>(){}.getType();
        qtestApiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getCurrentProfile
     * @param projectId ID of the project (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws QtestApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getCurrentProfileCall(Long projectId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v3/projects/{projectId}/user-profiles/current"
            .replaceAll("\\{" + "projectId" + "\\}", qtestApiClient.escapeString(projectId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = qtestApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = qtestApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            qtestApiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return qtestApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getCurrentProfileValidateBeforeCall(Long projectId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        
        // verify the required parameter 'projectId' is set
        if (projectId == null) {
            throw new QtestApiException("Missing the required parameter 'projectId' when calling getCurrentProfile(Async)");
        }
        

        com.squareup.okhttp.Call call = getCurrentProfileCall(projectId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Gets current user Permissions in a Project
     * To retrieve your Permissions in a Project  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 4+
     * @param projectId ID of the project (required)
     * @return UserProfile
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public UserProfile getCurrentProfile(Long projectId) throws QtestApiException {
        ApiResponse<UserProfile> resp = getCurrentProfileWithHttpInfo(projectId);
        return resp.getData();
    }

    /**
     * Gets current user Permissions in a Project
     * To retrieve your Permissions in a Project  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 4+
     * @param projectId ID of the project (required)
     * @return ApiResponse&lt;UserProfile&gt;
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<UserProfile> getCurrentProfileWithHttpInfo(Long projectId) throws QtestApiException {
        com.squareup.okhttp.Call call = getCurrentProfileValidateBeforeCall(projectId, null, null);
        Type localVarReturnType = new TypeToken<UserProfile>(){}.getType();
        return qtestApiClient.execute(call, localVarReturnType);
    }

    /**
     * Gets current user Permissions in a Project (asynchronously)
     * To retrieve your Permissions in a Project  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 4+
     * @param projectId ID of the project (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws QtestApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getCurrentProfileAsync(Long projectId, final ApiCallback<UserProfile> callback) throws QtestApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getCurrentProfileValidateBeforeCall(projectId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<UserProfile>(){}.getType();
        qtestApiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getProject
     * @param projectId ID of the project (required)
     * @param expand &lt;em&gt;expand&#x3D;userprofile&lt;/em&gt; - include the your profile and permissions within the project in the response (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws QtestApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getProjectCall(Long projectId, String expand, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v3/projects/{projectId}"
            .replaceAll("\\{" + "projectId" + "\\}", qtestApiClient.escapeString(projectId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (expand != null)
        localVarQueryParams.addAll(qtestApiClient.parameterToPair("expand", expand));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = qtestApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = qtestApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            qtestApiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return qtestApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getProjectValidateBeforeCall(Long projectId, String expand, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        
        // verify the required parameter 'projectId' is set
        if (projectId == null) {
            throw new QtestApiException("Missing the required parameter 'projectId' when calling getProject(Async)");
        }
        

        com.squareup.okhttp.Call call = getProjectCall(projectId, expand, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Gets a Project
     * To retrieve a specific Project
     * @param projectId ID of the project (required)
     * @param expand &lt;em&gt;expand&#x3D;userprofile&lt;/em&gt; - include the your profile and permissions within the project in the response (optional)
     * @return ProjectResource
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ProjectResource getProject(Long projectId, String expand) throws QtestApiException {
        ApiResponse<ProjectResource> resp = getProjectWithHttpInfo(projectId, expand);
        return resp.getData();
    }

    /**
     * Gets a Project
     * To retrieve a specific Project
     * @param projectId ID of the project (required)
     * @param expand &lt;em&gt;expand&#x3D;userprofile&lt;/em&gt; - include the your profile and permissions within the project in the response (optional)
     * @return ApiResponse&lt;ProjectResource&gt;
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ProjectResource> getProjectWithHttpInfo(Long projectId, String expand) throws QtestApiException {
        com.squareup.okhttp.Call call = getProjectValidateBeforeCall(projectId, expand, null, null);
        Type localVarReturnType = new TypeToken<ProjectResource>(){}.getType();
        return qtestApiClient.execute(call, localVarReturnType);
    }

    /**
     * Gets a Project (asynchronously)
     * To retrieve a specific Project
     * @param projectId ID of the project (required)
     * @param expand &lt;em&gt;expand&#x3D;userprofile&lt;/em&gt; - include the your profile and permissions within the project in the response (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws QtestApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getProjectAsync(Long projectId, String expand, final ApiCallback<ProjectResource> callback) throws QtestApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getProjectValidateBeforeCall(projectId, expand, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ProjectResource>(){}.getType();
        qtestApiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getProjects
     * @param expand &lt;em&gt;expand&#x3D;userprofile&lt;/em&gt; - to include your profile and permissions in each project (optional)
     * @param assigned &lt;em&gt;assigned&#x3D;true&lt;/em&gt; - default value. Only the projects which the requested user has access to  &lt;em&gt;assigned&#x3D;false&lt;/em&gt; - Users with admin profile can use this value to retrieve all projects, regardless of having access (optional)
     * @param page By default the first page is returned but you can specify any page number to retrieve objects (optional, default to 1)
     * @param pageSize The result is paginated. By the default, the number of objects in each page is 100 if this is omitted. You can specify your custom number (up to 999) in this parameter (optional, default to 100)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws QtestApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getProjectsCall(String expand, Boolean assigned, Long page, Long pageSize, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v3/projects";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (expand != null)
        localVarQueryParams.addAll(qtestApiClient.parameterToPair("expand", expand));
        if (assigned != null)
        localVarQueryParams.addAll(qtestApiClient.parameterToPair("assigned", assigned));
        if (page != null)
        localVarQueryParams.addAll(qtestApiClient.parameterToPair("page", page));
        if (pageSize != null)
        localVarQueryParams.addAll(qtestApiClient.parameterToPair("pageSize", pageSize));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = qtestApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = qtestApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            qtestApiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return qtestApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getProjectsValidateBeforeCall(String expand, Boolean assigned, Long page, Long pageSize, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        

        com.squareup.okhttp.Call call = getProjectsCall(expand, assigned, page, pageSize, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Gets multiple Projects
     * To retrieve all Projects which the requested qTest  Manager account can access to  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 4+
     * @param expand &lt;em&gt;expand&#x3D;userprofile&lt;/em&gt; - to include your profile and permissions in each project (optional)
     * @param assigned &lt;em&gt;assigned&#x3D;true&lt;/em&gt; - default value. Only the projects which the requested user has access to  &lt;em&gt;assigned&#x3D;false&lt;/em&gt; - Users with admin profile can use this value to retrieve all projects, regardless of having access (optional)
     * @param page By default the first page is returned but you can specify any page number to retrieve objects (optional, default to 1)
     * @param pageSize The result is paginated. By the default, the number of objects in each page is 100 if this is omitted. You can specify your custom number (up to 999) in this parameter (optional, default to 100)
     * @return List&lt;ProjectResource&gt;
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<ProjectResource> getProjects(String expand, Boolean assigned, Long page, Long pageSize) throws QtestApiException {
        ApiResponse<List<ProjectResource>> resp = getProjectsWithHttpInfo(expand, assigned, page, pageSize);
        return resp.getData();
    }

    /**
     * Gets multiple Projects
     * To retrieve all Projects which the requested qTest  Manager account can access to  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 4+
     * @param expand &lt;em&gt;expand&#x3D;userprofile&lt;/em&gt; - to include your profile and permissions in each project (optional)
     * @param assigned &lt;em&gt;assigned&#x3D;true&lt;/em&gt; - default value. Only the projects which the requested user has access to  &lt;em&gt;assigned&#x3D;false&lt;/em&gt; - Users with admin profile can use this value to retrieve all projects, regardless of having access (optional)
     * @param page By default the first page is returned but you can specify any page number to retrieve objects (optional, default to 1)
     * @param pageSize The result is paginated. By the default, the number of objects in each page is 100 if this is omitted. You can specify your custom number (up to 999) in this parameter (optional, default to 100)
     * @return ApiResponse&lt;List&lt;ProjectResource&gt;&gt;
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<ProjectResource>> getProjectsWithHttpInfo(String expand, Boolean assigned, Long page, Long pageSize) throws QtestApiException {
        com.squareup.okhttp.Call call = getProjectsValidateBeforeCall(expand, assigned, page, pageSize, null, null);
        Type localVarReturnType = new TypeToken<List<ProjectResource>>(){}.getType();
        return qtestApiClient.execute(call, localVarReturnType);
    }

    /**
     * Gets multiple Projects (asynchronously)
     * To retrieve all Projects which the requested qTest  Manager account can access to  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 4+
     * @param expand &lt;em&gt;expand&#x3D;userprofile&lt;/em&gt; - to include your profile and permissions in each project (optional)
     * @param assigned &lt;em&gt;assigned&#x3D;true&lt;/em&gt; - default value. Only the projects which the requested user has access to  &lt;em&gt;assigned&#x3D;false&lt;/em&gt; - Users with admin profile can use this value to retrieve all projects, regardless of having access (optional)
     * @param page By default the first page is returned but you can specify any page number to retrieve objects (optional, default to 1)
     * @param pageSize The result is paginated. By the default, the number of objects in each page is 100 if this is omitted. You can specify your custom number (up to 999) in this parameter (optional, default to 100)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws QtestApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getProjectsAsync(String expand, Boolean assigned, Long page, Long pageSize, final ApiCallback<List<ProjectResource>> callback) throws QtestApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getProjectsValidateBeforeCall(expand, assigned, page, pageSize, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<ProjectResource>>(){}.getType();
        qtestApiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getUsers
     * @param projectId ID of the project (required)
     * @param inactive &lt;em&gt;inactive&#x3D;false&lt;/em&gt; - default value. Inactive users are excluded from the response  &lt;em&gt;inactive&#x3D;true&lt;/em&gt; - inactive users are included in the response (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws QtestApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getUsersCall(Long projectId, Boolean inactive, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v3/projects/{projectId}/users"
            .replaceAll("\\{" + "projectId" + "\\}", qtestApiClient.escapeString(projectId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (inactive != null)
        localVarQueryParams.addAll(qtestApiClient.parameterToPair("inactive", inactive));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = qtestApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = qtestApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            qtestApiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return qtestApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getUsersValidateBeforeCall(Long projectId, Boolean inactive, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        
        // verify the required parameter 'projectId' is set
        if (projectId == null) {
            throw new QtestApiException("Missing the required parameter 'projectId' when calling getUsers(Async)");
        }
        

        com.squareup.okhttp.Call call = getUsersCall(projectId, inactive, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Gets all Users in a Project
     * To retrieve all members in a qTest Manager Project  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 8.4.2+
     * @param projectId ID of the project (required)
     * @param inactive &lt;em&gt;inactive&#x3D;false&lt;/em&gt; - default value. Inactive users are excluded from the response  &lt;em&gt;inactive&#x3D;true&lt;/em&gt; - inactive users are included in the response (optional)
     * @return List&lt;UserResource&gt;
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<UserResource> getUsers(Long projectId, Boolean inactive) throws QtestApiException {
        ApiResponse<List<UserResource>> resp = getUsersWithHttpInfo(projectId, inactive);
        return resp.getData();
    }

    /**
     * Gets all Users in a Project
     * To retrieve all members in a qTest Manager Project  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 8.4.2+
     * @param projectId ID of the project (required)
     * @param inactive &lt;em&gt;inactive&#x3D;false&lt;/em&gt; - default value. Inactive users are excluded from the response  &lt;em&gt;inactive&#x3D;true&lt;/em&gt; - inactive users are included in the response (optional)
     * @return ApiResponse&lt;List&lt;UserResource&gt;&gt;
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<UserResource>> getUsersWithHttpInfo(Long projectId, Boolean inactive) throws QtestApiException {
        com.squareup.okhttp.Call call = getUsersValidateBeforeCall(projectId, inactive, null, null);
        Type localVarReturnType = new TypeToken<List<UserResource>>(){}.getType();
        return qtestApiClient.execute(call, localVarReturnType);
    }

    /**
     * Gets all Users in a Project (asynchronously)
     * To retrieve all members in a qTest Manager Project  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 8.4.2+
     * @param projectId ID of the project (required)
     * @param inactive &lt;em&gt;inactive&#x3D;false&lt;/em&gt; - default value. Inactive users are excluded from the response  &lt;em&gt;inactive&#x3D;true&lt;/em&gt; - inactive users are included in the response (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws QtestApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getUsersAsync(Long projectId, Boolean inactive, final ApiCallback<List<UserResource>> callback) throws QtestApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getUsersValidateBeforeCall(projectId, inactive, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<UserResource>>(){}.getType();
        qtestApiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for searchProjects
     * @param body Project search condition properties   &lt;em&gt;uuid:&lt;/em&gt; list of uuid for searching (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws QtestApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call searchProjectsCall(ProjectQueryParams body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/api/v3/projects/search";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = qtestApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = qtestApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            qtestApiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return qtestApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call searchProjectsValidateBeforeCall(ProjectQueryParams body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new QtestApiException("Missing the required parameter 'body' when calling searchProjects(Async)");
        }
        

        com.squareup.okhttp.Call call = searchProjectsCall(body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Search for projects
     * 
     * @param body Project search condition properties   &lt;em&gt;uuid:&lt;/em&gt; list of uuid for searching (required)
     * @return List&lt;ProjectResource&gt;
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<ProjectResource> searchProjects(ProjectQueryParams body) throws QtestApiException {
        ApiResponse<List<ProjectResource>> resp = searchProjectsWithHttpInfo(body);
        return resp.getData();
    }

    /**
     * Search for projects
     * 
     * @param body Project search condition properties   &lt;em&gt;uuid:&lt;/em&gt; list of uuid for searching (required)
     * @return ApiResponse&lt;List&lt;ProjectResource&gt;&gt;
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<ProjectResource>> searchProjectsWithHttpInfo(ProjectQueryParams body) throws QtestApiException {
        com.squareup.okhttp.Call call = searchProjectsValidateBeforeCall(body, null, null);
        Type localVarReturnType = new TypeToken<List<ProjectResource>>(){}.getType();
        return qtestApiClient.execute(call, localVarReturnType);
    }

    /**
     * Search for projects (asynchronously)
     * 
     * @param body Project search condition properties   &lt;em&gt;uuid:&lt;/em&gt; list of uuid for searching (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws QtestApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call searchProjectsAsync(ProjectQueryParams body, final ApiCallback<List<ProjectResource>> callback) throws QtestApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = searchProjectsValidateBeforeCall(body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<ProjectResource>>(){}.getType();
        qtestApiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for updateProject
     * @param projectId ID of the project (required)
     * @param body Project updated properties   &lt;em&gt;name (optional):&lt;/em&gt; name of project  &lt;em&gt;description (optional):&lt;/em&gt; description of project  &lt;em&gt;start_date (optional):&lt;/em&gt; Start date of project, eg: 2019-06-17T05:09:13.178Z  &lt;em&gt;end_date (optional):&lt;/em&gt; End date of project, eg: 2019-06-27T05:09:13.178Z  &lt;em&gt;admin_ids (optional):&lt;/em&gt; list assigned admin ids of project  &lt;em&gt;uuid (optional):&lt;/em&gt; uuid of project. User can provide any string value for uuid, then they can used it for searching projects.  &lt;em&gt;template_id (optional):&lt;/em&gt; site template id of project. When changing site template id, the project will be removed from old site template id and the new site template will be applied to it. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws QtestApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call updateProjectCall(Long projectId, ProjectUpdateResource body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/api/v3/projects/{projectId}"
            .replaceAll("\\{" + "projectId" + "\\}", qtestApiClient.escapeString(projectId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = qtestApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = qtestApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            qtestApiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return qtestApiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call updateProjectValidateBeforeCall(Long projectId, ProjectUpdateResource body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        
        // verify the required parameter 'projectId' is set
        if (projectId == null) {
            throw new QtestApiException("Missing the required parameter 'projectId' when calling updateProject(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new QtestApiException("Missing the required parameter 'body' when calling updateProject(Async)");
        }
        

        com.squareup.okhttp.Call call = updateProjectCall(projectId, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Updates a Project
     * 
     * @param projectId ID of the project (required)
     * @param body Project updated properties   &lt;em&gt;name (optional):&lt;/em&gt; name of project  &lt;em&gt;description (optional):&lt;/em&gt; description of project  &lt;em&gt;start_date (optional):&lt;/em&gt; Start date of project, eg: 2019-06-17T05:09:13.178Z  &lt;em&gt;end_date (optional):&lt;/em&gt; End date of project, eg: 2019-06-27T05:09:13.178Z  &lt;em&gt;admin_ids (optional):&lt;/em&gt; list assigned admin ids of project  &lt;em&gt;uuid (optional):&lt;/em&gt; uuid of project. User can provide any string value for uuid, then they can used it for searching projects.  &lt;em&gt;template_id (optional):&lt;/em&gt; site template id of project. When changing site template id, the project will be removed from old site template id and the new site template will be applied to it. (required)
     * @return ProjectResource
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ProjectResource updateProject(Long projectId, ProjectUpdateResource body) throws QtestApiException {
        ApiResponse<ProjectResource> resp = updateProjectWithHttpInfo(projectId, body);
        return resp.getData();
    }

    /**
     * Updates a Project
     * 
     * @param projectId ID of the project (required)
     * @param body Project updated properties   &lt;em&gt;name (optional):&lt;/em&gt; name of project  &lt;em&gt;description (optional):&lt;/em&gt; description of project  &lt;em&gt;start_date (optional):&lt;/em&gt; Start date of project, eg: 2019-06-17T05:09:13.178Z  &lt;em&gt;end_date (optional):&lt;/em&gt; End date of project, eg: 2019-06-27T05:09:13.178Z  &lt;em&gt;admin_ids (optional):&lt;/em&gt; list assigned admin ids of project  &lt;em&gt;uuid (optional):&lt;/em&gt; uuid of project. User can provide any string value for uuid, then they can used it for searching projects.  &lt;em&gt;template_id (optional):&lt;/em&gt; site template id of project. When changing site template id, the project will be removed from old site template id and the new site template will be applied to it. (required)
     * @return ApiResponse&lt;ProjectResource&gt;
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ProjectResource> updateProjectWithHttpInfo(Long projectId, ProjectUpdateResource body) throws QtestApiException {
        com.squareup.okhttp.Call call = updateProjectValidateBeforeCall(projectId, body, null, null);
        Type localVarReturnType = new TypeToken<ProjectResource>(){}.getType();
        return qtestApiClient.execute(call, localVarReturnType);
    }

    /**
     * Updates a Project (asynchronously)
     * 
     * @param projectId ID of the project (required)
     * @param body Project updated properties   &lt;em&gt;name (optional):&lt;/em&gt; name of project  &lt;em&gt;description (optional):&lt;/em&gt; description of project  &lt;em&gt;start_date (optional):&lt;/em&gt; Start date of project, eg: 2019-06-17T05:09:13.178Z  &lt;em&gt;end_date (optional):&lt;/em&gt; End date of project, eg: 2019-06-27T05:09:13.178Z  &lt;em&gt;admin_ids (optional):&lt;/em&gt; list assigned admin ids of project  &lt;em&gt;uuid (optional):&lt;/em&gt; uuid of project. User can provide any string value for uuid, then they can used it for searching projects.  &lt;em&gt;template_id (optional):&lt;/em&gt; site template id of project. When changing site template id, the project will be removed from old site template id and the new site template will be applied to it. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws QtestApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call updateProjectAsync(Long projectId, ProjectUpdateResource body, final ApiCallback<ProjectResource> callback) throws QtestApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = updateProjectValidateBeforeCall(projectId, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ProjectResource>(){}.getType();
        qtestApiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
