/*
 * qTest Manager API Version 8.6 - 10.2
 * qTest Manager API Version 8.6 - 10.2
 *
 * OpenAPI spec version: 8.6 - 10.2
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package com.neotys.qtest.api.client.api;

import com.neotys.qtest.api.client.*;
import com.neotys.qtest.api.client.model.CommentResource;
import com.neotys.qtest.api.client.model.PagedResourceCommentResource;
import com.neotys.qtest.api.client.model.TestCaseWithCustomFieldResource;
import com.neotys.qtest.api.client.model.TestStepResource;
import com.neotys.qtest.api.client.QtestApiClient;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class TestCaseApi {
    private QtestApiClient qtestApiClient;

    public TestCaseApi() {
        this(Configuration.getDefaultQtestApiClient());
    }

    public TestCaseApi(QtestApiClient qtestApiClient) {
        this.qtestApiClient = qtestApiClient;
    }

    public QtestApiClient getQtestApiClient() {
        return qtestApiClient;
    }

    public void setQtestApiClient(QtestApiClient qtestApiClient) {
        this.qtestApiClient = qtestApiClient;
    }

    /**
     * Build call for addComment
     * @param projectId ID of the project (required)
     * @param idOrKey PID or ID of the Test Case (required)
     * @param body The comment&#39;s properties and its content (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws QtestApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call addCommentCall(Long projectId, String idOrKey, CommentResource body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/api/v3/projects/{projectId}/test-cases/{idOrKey}/comments"
            .replaceAll("\\{" + "projectId" + "\\}", qtestApiClient.escapeString(projectId.toString()))
            .replaceAll("\\{" + "idOrKey" + "\\}", qtestApiClient.escapeString(idOrKey.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = qtestApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = qtestApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            qtestApiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return qtestApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call addCommentValidateBeforeCall(Long projectId, String idOrKey, CommentResource body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        
        // verify the required parameter 'projectId' is set
        if (projectId == null) {
            throw new QtestApiException("Missing the required parameter 'projectId' when calling addComment(Async)");
        }
        
        // verify the required parameter 'idOrKey' is set
        if (idOrKey == null) {
            throw new QtestApiException("Missing the required parameter 'idOrKey' when calling addComment(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new QtestApiException("Missing the required parameter 'body' when calling addComment(Async)");
        }
        

        com.squareup.okhttp.Call call = addCommentCall(projectId, idOrKey, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Adds a Comment to a Test Case
     * To add a Comment to a Test Case  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 7.5+
     * @param projectId ID of the project (required)
     * @param idOrKey PID or ID of the Test Case (required)
     * @param body The comment&#39;s properties and its content (required)
     * @return CommentResource
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CommentResource addComment(Long projectId, String idOrKey, CommentResource body) throws QtestApiException {
        ApiResponse<CommentResource> resp = addCommentWithHttpInfo(projectId, idOrKey, body);
        return resp.getData();
    }

    /**
     * Adds a Comment to a Test Case
     * To add a Comment to a Test Case  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 7.5+
     * @param projectId ID of the project (required)
     * @param idOrKey PID or ID of the Test Case (required)
     * @param body The comment&#39;s properties and its content (required)
     * @return ApiResponse&lt;CommentResource&gt;
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CommentResource> addCommentWithHttpInfo(Long projectId, String idOrKey, CommentResource body) throws QtestApiException {
        com.squareup.okhttp.Call call = addCommentValidateBeforeCall(projectId, idOrKey, body, null, null);
        Type localVarReturnType = new TypeToken<CommentResource>(){}.getType();
        return qtestApiClient.execute(call, localVarReturnType);
    }

    /**
     * Adds a Comment to a Test Case (asynchronously)
     * To add a Comment to a Test Case  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 7.5+
     * @param projectId ID of the project (required)
     * @param idOrKey PID or ID of the Test Case (required)
     * @param body The comment&#39;s properties and its content (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws QtestApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call addCommentAsync(Long projectId, String idOrKey, CommentResource body, final ApiCallback<CommentResource> callback) throws QtestApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = addCommentValidateBeforeCall(projectId, idOrKey, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CommentResource>(){}.getType();
        qtestApiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for addTestStep
     * @param projectId ID of the project (required)
     * @param testCaseId ID of the Test Case (required)
     * @param body Given resource to add a test step.  Support create test step with Parameters by inputting parameters identifier in teststep&#39;s &lt;em&gt;description&lt;/em&gt; with sample like below. Parameters will be automatically added to current project.  &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;    { &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;      \&quot;description\&quot;: \&quot;Description [~param1] with [~param2].\&quot; &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;      ... &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;    { (required)
     * @param showParamIdentifier By default, Parameters in Test Steps are displayed in ID number mode (like \&quot;&lt;strong&gt;[~123]&lt;/strong&gt;\&quot;). Input &lt;strong&gt;&lt;em&gt;showParamIdentifier&#x3D;true&lt;/em&gt;&lt;/strong&gt; to change to Identifier text mode. Result should be like \&quot;&lt;strong&gt;[~myIdentifier]&lt;/strong&gt;\&quot;. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws QtestApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call addTestStepCall(Long projectId, Long testCaseId, TestStepResource body, Boolean showParamIdentifier, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/api/v3/projects/{projectId}/test-cases/{testCaseId}/test-steps"
            .replaceAll("\\{" + "projectId" + "\\}", qtestApiClient.escapeString(projectId.toString()))
            .replaceAll("\\{" + "testCaseId" + "\\}", qtestApiClient.escapeString(testCaseId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (showParamIdentifier != null)
        localVarQueryParams.addAll(qtestApiClient.parameterToPair("showParamIdentifier", showParamIdentifier));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = qtestApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = qtestApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            qtestApiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return qtestApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call addTestStepValidateBeforeCall(Long projectId, Long testCaseId, TestStepResource body, Boolean showParamIdentifier, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        
        // verify the required parameter 'projectId' is set
        if (projectId == null) {
            throw new QtestApiException("Missing the required parameter 'projectId' when calling addTestStep(Async)");
        }
        
        // verify the required parameter 'testCaseId' is set
        if (testCaseId == null) {
            throw new QtestApiException("Missing the required parameter 'testCaseId' when calling addTestStep(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new QtestApiException("Missing the required parameter 'body' when calling addTestStep(Async)");
        }
        

        com.squareup.okhttp.Call call = addTestStepCall(projectId, testCaseId, body, showParamIdentifier, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Creates a Test Step
     * To add a Test Step to a Test Case&#39;s latest version  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 6+
     * @param projectId ID of the project (required)
     * @param testCaseId ID of the Test Case (required)
     * @param body Given resource to add a test step.  Support create test step with Parameters by inputting parameters identifier in teststep&#39;s &lt;em&gt;description&lt;/em&gt; with sample like below. Parameters will be automatically added to current project.  &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;    { &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;      \&quot;description\&quot;: \&quot;Description [~param1] with [~param2].\&quot; &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;      ... &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;    { (required)
     * @param showParamIdentifier By default, Parameters in Test Steps are displayed in ID number mode (like \&quot;&lt;strong&gt;[~123]&lt;/strong&gt;\&quot;). Input &lt;strong&gt;&lt;em&gt;showParamIdentifier&#x3D;true&lt;/em&gt;&lt;/strong&gt; to change to Identifier text mode. Result should be like \&quot;&lt;strong&gt;[~myIdentifier]&lt;/strong&gt;\&quot;. (optional)
     * @return TestStepResource
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public TestStepResource addTestStep(Long projectId, Long testCaseId, TestStepResource body, Boolean showParamIdentifier) throws QtestApiException {
        ApiResponse<TestStepResource> resp = addTestStepWithHttpInfo(projectId, testCaseId, body, showParamIdentifier);
        return resp.getData();
    }

    /**
     * Creates a Test Step
     * To add a Test Step to a Test Case&#39;s latest version  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 6+
     * @param projectId ID of the project (required)
     * @param testCaseId ID of the Test Case (required)
     * @param body Given resource to add a test step.  Support create test step with Parameters by inputting parameters identifier in teststep&#39;s &lt;em&gt;description&lt;/em&gt; with sample like below. Parameters will be automatically added to current project.  &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;    { &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;      \&quot;description\&quot;: \&quot;Description [~param1] with [~param2].\&quot; &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;      ... &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;    { (required)
     * @param showParamIdentifier By default, Parameters in Test Steps are displayed in ID number mode (like \&quot;&lt;strong&gt;[~123]&lt;/strong&gt;\&quot;). Input &lt;strong&gt;&lt;em&gt;showParamIdentifier&#x3D;true&lt;/em&gt;&lt;/strong&gt; to change to Identifier text mode. Result should be like \&quot;&lt;strong&gt;[~myIdentifier]&lt;/strong&gt;\&quot;. (optional)
     * @return ApiResponse&lt;TestStepResource&gt;
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<TestStepResource> addTestStepWithHttpInfo(Long projectId, Long testCaseId, TestStepResource body, Boolean showParamIdentifier) throws QtestApiException {
        com.squareup.okhttp.Call call = addTestStepValidateBeforeCall(projectId, testCaseId, body, showParamIdentifier, null, null);
        Type localVarReturnType = new TypeToken<TestStepResource>(){}.getType();
        return qtestApiClient.execute(call, localVarReturnType);
    }

    /**
     * Creates a Test Step (asynchronously)
     * To add a Test Step to a Test Case&#39;s latest version  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 6+
     * @param projectId ID of the project (required)
     * @param testCaseId ID of the Test Case (required)
     * @param body Given resource to add a test step.  Support create test step with Parameters by inputting parameters identifier in teststep&#39;s &lt;em&gt;description&lt;/em&gt; with sample like below. Parameters will be automatically added to current project.  &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;    { &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;      \&quot;description\&quot;: \&quot;Description [~param1] with [~param2].\&quot; &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;      ... &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;    { (required)
     * @param showParamIdentifier By default, Parameters in Test Steps are displayed in ID number mode (like \&quot;&lt;strong&gt;[~123]&lt;/strong&gt;\&quot;). Input &lt;strong&gt;&lt;em&gt;showParamIdentifier&#x3D;true&lt;/em&gt;&lt;/strong&gt; to change to Identifier text mode. Result should be like \&quot;&lt;strong&gt;[~myIdentifier]&lt;/strong&gt;\&quot;. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws QtestApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call addTestStepAsync(Long projectId, Long testCaseId, TestStepResource body, Boolean showParamIdentifier, final ApiCallback<TestStepResource> callback) throws QtestApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = addTestStepValidateBeforeCall(projectId, testCaseId, body, showParamIdentifier, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<TestStepResource>(){}.getType();
        qtestApiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for approveTestCase
     * @param projectId ID of the project (required)
     * @param testCaseId ID of the Test Case (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws QtestApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call approveTestCaseCall(Long projectId, Long testCaseId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v3/projects/{projectId}/test-cases/{testCaseId}/approve"
            .replaceAll("\\{" + "projectId" + "\\}", qtestApiClient.escapeString(projectId.toString()))
            .replaceAll("\\{" + "testCaseId" + "\\}", qtestApiClient.escapeString(testCaseId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = qtestApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = qtestApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            qtestApiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return qtestApiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call approveTestCaseValidateBeforeCall(Long projectId, Long testCaseId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        
        // verify the required parameter 'projectId' is set
        if (projectId == null) {
            throw new QtestApiException("Missing the required parameter 'projectId' when calling approveTestCase(Async)");
        }
        
        // verify the required parameter 'testCaseId' is set
        if (testCaseId == null) {
            throw new QtestApiException("Missing the required parameter 'testCaseId' when calling approveTestCase(Async)");
        }
        

        com.squareup.okhttp.Call call = approveTestCaseCall(projectId, testCaseId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Approves a Test Case
     * To approve a Test Case  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 7.4+
     * @param projectId ID of the project (required)
     * @param testCaseId ID of the Test Case (required)
     * @return TestCaseWithCustomFieldResource
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public TestCaseWithCustomFieldResource approveTestCase(Long projectId, Long testCaseId) throws QtestApiException {
        ApiResponse<TestCaseWithCustomFieldResource> resp = approveTestCaseWithHttpInfo(projectId, testCaseId);
        return resp.getData();
    }

    /**
     * Approves a Test Case
     * To approve a Test Case  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 7.4+
     * @param projectId ID of the project (required)
     * @param testCaseId ID of the Test Case (required)
     * @return ApiResponse&lt;TestCaseWithCustomFieldResource&gt;
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<TestCaseWithCustomFieldResource> approveTestCaseWithHttpInfo(Long projectId, Long testCaseId) throws QtestApiException {
        com.squareup.okhttp.Call call = approveTestCaseValidateBeforeCall(projectId, testCaseId, null, null);
        Type localVarReturnType = new TypeToken<TestCaseWithCustomFieldResource>(){}.getType();
        return qtestApiClient.execute(call, localVarReturnType);
    }

    /**
     * Approves a Test Case (asynchronously)
     * To approve a Test Case  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 7.4+
     * @param projectId ID of the project (required)
     * @param testCaseId ID of the Test Case (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws QtestApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call approveTestCaseAsync(Long projectId, Long testCaseId, final ApiCallback<TestCaseWithCustomFieldResource> callback) throws QtestApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = approveTestCaseValidateBeforeCall(projectId, testCaseId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<TestCaseWithCustomFieldResource>(){}.getType();
        qtestApiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for approveTestCaseByVera
     * @param projectId ID of the project (required)
     * @param testCaseId ID of the Test Case (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws QtestApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call approveTestCaseByVeraCall(Long projectId, Long testCaseId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v3/projects/{projectId}/test-cases/{testCaseId}/vera/approve"
            .replaceAll("\\{" + "projectId" + "\\}", qtestApiClient.escapeString(projectId.toString()))
            .replaceAll("\\{" + "testCaseId" + "\\}", qtestApiClient.escapeString(testCaseId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = qtestApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = qtestApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            qtestApiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return qtestApiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call approveTestCaseByVeraValidateBeforeCall(Long projectId, Long testCaseId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        
        // verify the required parameter 'projectId' is set
        if (projectId == null) {
            throw new QtestApiException("Missing the required parameter 'projectId' when calling approveTestCaseByVera(Async)");
        }
        
        // verify the required parameter 'testCaseId' is set
        if (testCaseId == null) {
            throw new QtestApiException("Missing the required parameter 'testCaseId' when calling approveTestCaseByVera(Async)");
        }
        

        com.squareup.okhttp.Call call = approveTestCaseByVeraCall(projectId, testCaseId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * test-case.vera.approve
     * 
     * @param projectId ID of the project (required)
     * @param testCaseId ID of the Test Case (required)
     * @return TestCaseWithCustomFieldResource
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public TestCaseWithCustomFieldResource approveTestCaseByVera(Long projectId, Long testCaseId) throws QtestApiException {
        ApiResponse<TestCaseWithCustomFieldResource> resp = approveTestCaseByVeraWithHttpInfo(projectId, testCaseId);
        return resp.getData();
    }

    /**
     * test-case.vera.approve
     * 
     * @param projectId ID of the project (required)
     * @param testCaseId ID of the Test Case (required)
     * @return ApiResponse&lt;TestCaseWithCustomFieldResource&gt;
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<TestCaseWithCustomFieldResource> approveTestCaseByVeraWithHttpInfo(Long projectId, Long testCaseId) throws QtestApiException {
        com.squareup.okhttp.Call call = approveTestCaseByVeraValidateBeforeCall(projectId, testCaseId, null, null);
        Type localVarReturnType = new TypeToken<TestCaseWithCustomFieldResource>(){}.getType();
        return qtestApiClient.execute(call, localVarReturnType);
    }

    /**
     * test-case.vera.approve (asynchronously)
     * 
     * @param projectId ID of the project (required)
     * @param testCaseId ID of the Test Case (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws QtestApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call approveTestCaseByVeraAsync(Long projectId, Long testCaseId, final ApiCallback<TestCaseWithCustomFieldResource> callback) throws QtestApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = approveTestCaseByVeraValidateBeforeCall(projectId, testCaseId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<TestCaseWithCustomFieldResource>(){}.getType();
        qtestApiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createTestCase
     * @param projectId ID of the project (required)
     * @param body Test Case properties, Test Steps, Attachments and other information to create a Test Case.  If &lt;em&gt;parent_id&lt;/em&gt; is omitted, the Test Case will be created under \&quot;Created via API\&quot; Module.  &lt;em&gt;tosca_guid&lt;/em&gt;: GUID of Tosca test case. Use for creating Tosca Test Case.  &lt;em&gt;tosca_node_path&lt;/em&gt;: Node Path of Tosca test case. Use for creating Tosca Test Case.  &lt;em&gt;tosca_guid&lt;/em&gt; and &lt;em&gt;tosca_node_path&lt;/em&gt; are optional but must be specified in pair  Support create test case with Parameters by inputting parameters identifier in teststep&#39;s &lt;em&gt;description&lt;/em&gt; with sample like below. Parameters will be automatically added to current project.  &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;    { &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;      \&quot;description\&quot;: \&quot;Description [~param1] with [~param2].\&quot; &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;      ... &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;    { (required)
     * @param agentId  (optional)
     * @param showParamIdentifier By default, Parameters in Test Steps are displayed in ID number mode (like \&quot;&lt;strong&gt;[~123]&lt;/strong&gt;\&quot;). Input &lt;strong&gt;&lt;em&gt;showParamIdentifier&#x3D;true&lt;/em&gt;&lt;/strong&gt; to change to Identifier text mode. Result should be like \&quot;&lt;strong&gt;[~myIdentifier]&lt;/strong&gt;\&quot;. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws QtestApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createTestCaseCall(Long projectId, TestCaseWithCustomFieldResource body, String agentId, Boolean showParamIdentifier, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/api/v3/projects/{projectId}/test-cases"
            .replaceAll("\\{" + "projectId" + "\\}", qtestApiClient.escapeString(projectId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (agentId != null)
        localVarQueryParams.addAll(qtestApiClient.parameterToPair("agentId", agentId));
        if (showParamIdentifier != null)
        localVarQueryParams.addAll(qtestApiClient.parameterToPair("showParamIdentifier", showParamIdentifier));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = qtestApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = qtestApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            qtestApiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return qtestApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createTestCaseValidateBeforeCall(Long projectId, TestCaseWithCustomFieldResource body, String agentId, Boolean showParamIdentifier, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        
        // verify the required parameter 'projectId' is set
        if (projectId == null) {
            throw new QtestApiException("Missing the required parameter 'projectId' when calling createTestCase(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new QtestApiException("Missing the required parameter 'body' when calling createTestCase(Async)");
        }
        

        com.squareup.okhttp.Call call = createTestCaseCall(projectId, body, agentId, showParamIdentifier, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Creates a Test Case
     * To create a Test Case  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 4+
     * @param projectId ID of the project (required)
     * @param body Test Case properties, Test Steps, Attachments and other information to create a Test Case.  If &lt;em&gt;parent_id&lt;/em&gt; is omitted, the Test Case will be created under \&quot;Created via API\&quot; Module.  &lt;em&gt;tosca_guid&lt;/em&gt;: GUID of Tosca test case. Use for creating Tosca Test Case.  &lt;em&gt;tosca_node_path&lt;/em&gt;: Node Path of Tosca test case. Use for creating Tosca Test Case.  &lt;em&gt;tosca_guid&lt;/em&gt; and &lt;em&gt;tosca_node_path&lt;/em&gt; are optional but must be specified in pair  Support create test case with Parameters by inputting parameters identifier in teststep&#39;s &lt;em&gt;description&lt;/em&gt; with sample like below. Parameters will be automatically added to current project.  &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;    { &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;      \&quot;description\&quot;: \&quot;Description [~param1] with [~param2].\&quot; &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;      ... &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;    { (required)
     * @param agentId  (optional)
     * @param showParamIdentifier By default, Parameters in Test Steps are displayed in ID number mode (like \&quot;&lt;strong&gt;[~123]&lt;/strong&gt;\&quot;). Input &lt;strong&gt;&lt;em&gt;showParamIdentifier&#x3D;true&lt;/em&gt;&lt;/strong&gt; to change to Identifier text mode. Result should be like \&quot;&lt;strong&gt;[~myIdentifier]&lt;/strong&gt;\&quot;. (optional)
     * @return TestCaseWithCustomFieldResource
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public TestCaseWithCustomFieldResource createTestCase(Long projectId, TestCaseWithCustomFieldResource body, String agentId, Boolean showParamIdentifier) throws QtestApiException {
        ApiResponse<TestCaseWithCustomFieldResource> resp = createTestCaseWithHttpInfo(projectId, body, agentId, showParamIdentifier);
        return resp.getData();
    }

    /**
     * Creates a Test Case
     * To create a Test Case  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 4+
     * @param projectId ID of the project (required)
     * @param body Test Case properties, Test Steps, Attachments and other information to create a Test Case.  If &lt;em&gt;parent_id&lt;/em&gt; is omitted, the Test Case will be created under \&quot;Created via API\&quot; Module.  &lt;em&gt;tosca_guid&lt;/em&gt;: GUID of Tosca test case. Use for creating Tosca Test Case.  &lt;em&gt;tosca_node_path&lt;/em&gt;: Node Path of Tosca test case. Use for creating Tosca Test Case.  &lt;em&gt;tosca_guid&lt;/em&gt; and &lt;em&gt;tosca_node_path&lt;/em&gt; are optional but must be specified in pair  Support create test case with Parameters by inputting parameters identifier in teststep&#39;s &lt;em&gt;description&lt;/em&gt; with sample like below. Parameters will be automatically added to current project.  &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;    { &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;      \&quot;description\&quot;: \&quot;Description [~param1] with [~param2].\&quot; &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;      ... &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;    { (required)
     * @param agentId  (optional)
     * @param showParamIdentifier By default, Parameters in Test Steps are displayed in ID number mode (like \&quot;&lt;strong&gt;[~123]&lt;/strong&gt;\&quot;). Input &lt;strong&gt;&lt;em&gt;showParamIdentifier&#x3D;true&lt;/em&gt;&lt;/strong&gt; to change to Identifier text mode. Result should be like \&quot;&lt;strong&gt;[~myIdentifier]&lt;/strong&gt;\&quot;. (optional)
     * @return ApiResponse&lt;TestCaseWithCustomFieldResource&gt;
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<TestCaseWithCustomFieldResource> createTestCaseWithHttpInfo(Long projectId, TestCaseWithCustomFieldResource body, String agentId, Boolean showParamIdentifier) throws QtestApiException {
        com.squareup.okhttp.Call call = createTestCaseValidateBeforeCall(projectId, body, agentId, showParamIdentifier, null, null);
        Type localVarReturnType = new TypeToken<TestCaseWithCustomFieldResource>(){}.getType();
        return qtestApiClient.execute(call, localVarReturnType);
    }

    /**
     * Creates a Test Case (asynchronously)
     * To create a Test Case  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 4+
     * @param projectId ID of the project (required)
     * @param body Test Case properties, Test Steps, Attachments and other information to create a Test Case.  If &lt;em&gt;parent_id&lt;/em&gt; is omitted, the Test Case will be created under \&quot;Created via API\&quot; Module.  &lt;em&gt;tosca_guid&lt;/em&gt;: GUID of Tosca test case. Use for creating Tosca Test Case.  &lt;em&gt;tosca_node_path&lt;/em&gt;: Node Path of Tosca test case. Use for creating Tosca Test Case.  &lt;em&gt;tosca_guid&lt;/em&gt; and &lt;em&gt;tosca_node_path&lt;/em&gt; are optional but must be specified in pair  Support create test case with Parameters by inputting parameters identifier in teststep&#39;s &lt;em&gt;description&lt;/em&gt; with sample like below. Parameters will be automatically added to current project.  &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;    { &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;      \&quot;description\&quot;: \&quot;Description [~param1] with [~param2].\&quot; &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;      ... &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;    { (required)
     * @param agentId  (optional)
     * @param showParamIdentifier By default, Parameters in Test Steps are displayed in ID number mode (like \&quot;&lt;strong&gt;[~123]&lt;/strong&gt;\&quot;). Input &lt;strong&gt;&lt;em&gt;showParamIdentifier&#x3D;true&lt;/em&gt;&lt;/strong&gt; to change to Identifier text mode. Result should be like \&quot;&lt;strong&gt;[~myIdentifier]&lt;/strong&gt;\&quot;. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws QtestApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createTestCaseAsync(Long projectId, TestCaseWithCustomFieldResource body, String agentId, Boolean showParamIdentifier, final ApiCallback<TestCaseWithCustomFieldResource> callback) throws QtestApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createTestCaseValidateBeforeCall(projectId, body, agentId, showParamIdentifier, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<TestCaseWithCustomFieldResource>(){}.getType();
        qtestApiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteComment
     * @param projectId ID of the project (required)
     * @param idOrKey PID or ID of the Test Case (required)
     * @param commentId ID of the comment. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws QtestApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteCommentCall(Long projectId, String idOrKey, Long commentId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v3/projects/{projectId}/test-cases/{idOrKey}/comments/{commentId}"
            .replaceAll("\\{" + "projectId" + "\\}", qtestApiClient.escapeString(projectId.toString()))
            .replaceAll("\\{" + "idOrKey" + "\\}", qtestApiClient.escapeString(idOrKey.toString()))
            .replaceAll("\\{" + "commentId" + "\\}", qtestApiClient.escapeString(commentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = qtestApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = qtestApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            qtestApiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return qtestApiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteCommentValidateBeforeCall(Long projectId, String idOrKey, Long commentId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        
        // verify the required parameter 'projectId' is set
        if (projectId == null) {
            throw new QtestApiException("Missing the required parameter 'projectId' when calling deleteComment(Async)");
        }
        
        // verify the required parameter 'idOrKey' is set
        if (idOrKey == null) {
            throw new QtestApiException("Missing the required parameter 'idOrKey' when calling deleteComment(Async)");
        }
        
        // verify the required parameter 'commentId' is set
        if (commentId == null) {
            throw new QtestApiException("Missing the required parameter 'commentId' when calling deleteComment(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteCommentCall(projectId, idOrKey, commentId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Deletes a Comment of a Test Case
     * To delete a comment of a Test Case  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 7.5+
     * @param projectId ID of the project (required)
     * @param idOrKey PID or ID of the Test Case (required)
     * @param commentId ID of the comment. (required)
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteComment(Long projectId, String idOrKey, Long commentId) throws QtestApiException {
        deleteCommentWithHttpInfo(projectId, idOrKey, commentId);
    }

    /**
     * Deletes a Comment of a Test Case
     * To delete a comment of a Test Case  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 7.5+
     * @param projectId ID of the project (required)
     * @param idOrKey PID or ID of the Test Case (required)
     * @param commentId ID of the comment. (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteCommentWithHttpInfo(Long projectId, String idOrKey, Long commentId) throws QtestApiException {
        com.squareup.okhttp.Call call = deleteCommentValidateBeforeCall(projectId, idOrKey, commentId, null, null);
        return qtestApiClient.execute(call);
    }

    /**
     * Deletes a Comment of a Test Case (asynchronously)
     * To delete a comment of a Test Case  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 7.5+
     * @param projectId ID of the project (required)
     * @param idOrKey PID or ID of the Test Case (required)
     * @param commentId ID of the comment. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws QtestApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteCommentAsync(Long projectId, String idOrKey, Long commentId, final ApiCallback<Void> callback) throws QtestApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteCommentValidateBeforeCall(projectId, idOrKey, commentId, progressListener, progressRequestListener);
        qtestApiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteTestCase
     * @param projectId ID of the project (required)
     * @param testCaseId ID of the Test Case which needs to be deleted. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws QtestApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteTestCaseCall(Long projectId, Long testCaseId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v3/projects/{projectId}/test-cases/{testCaseId}"
            .replaceAll("\\{" + "projectId" + "\\}", qtestApiClient.escapeString(projectId.toString()))
            .replaceAll("\\{" + "testCaseId" + "\\}", qtestApiClient.escapeString(testCaseId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = qtestApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = qtestApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            qtestApiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return qtestApiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteTestCaseValidateBeforeCall(Long projectId, Long testCaseId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        
        // verify the required parameter 'projectId' is set
        if (projectId == null) {
            throw new QtestApiException("Missing the required parameter 'projectId' when calling deleteTestCase(Async)");
        }
        
        // verify the required parameter 'testCaseId' is set
        if (testCaseId == null) {
            throw new QtestApiException("Missing the required parameter 'testCaseId' when calling deleteTestCase(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteTestCaseCall(projectId, testCaseId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Deletes a Test Case
     * To delete Test Case  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 6+
     * @param projectId ID of the project (required)
     * @param testCaseId ID of the Test Case which needs to be deleted. (required)
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteTestCase(Long projectId, Long testCaseId) throws QtestApiException {
        deleteTestCaseWithHttpInfo(projectId, testCaseId);
    }

    /**
     * Deletes a Test Case
     * To delete Test Case  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 6+
     * @param projectId ID of the project (required)
     * @param testCaseId ID of the Test Case which needs to be deleted. (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteTestCaseWithHttpInfo(Long projectId, Long testCaseId) throws QtestApiException {
        com.squareup.okhttp.Call call = deleteTestCaseValidateBeforeCall(projectId, testCaseId, null, null);
        return qtestApiClient.execute(call);
    }

    /**
     * Deletes a Test Case (asynchronously)
     * To delete Test Case  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 6+
     * @param projectId ID of the project (required)
     * @param testCaseId ID of the Test Case which needs to be deleted. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws QtestApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteTestCaseAsync(Long projectId, Long testCaseId, final ApiCallback<Void> callback) throws QtestApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteTestCaseValidateBeforeCall(projectId, testCaseId, progressListener, progressRequestListener);
        qtestApiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteTestStep
     * @param projectId ID of the project (required)
     * @param testCaseId ID of the Test Case (required)
     * @param stepId ID of the Test Step (required)
     * @param updateVersion If you specify updateVersion&#x3D;true, the test case version will be updated when the test step deleted. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws QtestApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteTestStepCall(Long projectId, Long testCaseId, Long stepId, Boolean updateVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v3/projects/{projectId}/test-cases/{testCaseId}/test-steps/{stepId}"
            .replaceAll("\\{" + "projectId" + "\\}", qtestApiClient.escapeString(projectId.toString()))
            .replaceAll("\\{" + "testCaseId" + "\\}", qtestApiClient.escapeString(testCaseId.toString()))
            .replaceAll("\\{" + "stepId" + "\\}", qtestApiClient.escapeString(stepId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (updateVersion != null)
        localVarQueryParams.addAll(qtestApiClient.parameterToPair("updateVersion", updateVersion));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = qtestApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = qtestApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            qtestApiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return qtestApiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteTestStepValidateBeforeCall(Long projectId, Long testCaseId, Long stepId, Boolean updateVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        
        // verify the required parameter 'projectId' is set
        if (projectId == null) {
            throw new QtestApiException("Missing the required parameter 'projectId' when calling deleteTestStep(Async)");
        }
        
        // verify the required parameter 'testCaseId' is set
        if (testCaseId == null) {
            throw new QtestApiException("Missing the required parameter 'testCaseId' when calling deleteTestStep(Async)");
        }
        
        // verify the required parameter 'stepId' is set
        if (stepId == null) {
            throw new QtestApiException("Missing the required parameter 'stepId' when calling deleteTestStep(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteTestStepCall(projectId, testCaseId, stepId, updateVersion, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Deletes a Test Step
     * To delete a test step of a Test Case  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 6+
     * @param projectId ID of the project (required)
     * @param testCaseId ID of the Test Case (required)
     * @param stepId ID of the Test Step (required)
     * @param updateVersion If you specify updateVersion&#x3D;true, the test case version will be updated when the test step deleted. (optional)
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteTestStep(Long projectId, Long testCaseId, Long stepId, Boolean updateVersion) throws QtestApiException {
        deleteTestStepWithHttpInfo(projectId, testCaseId, stepId, updateVersion);
    }

    /**
     * Deletes a Test Step
     * To delete a test step of a Test Case  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 6+
     * @param projectId ID of the project (required)
     * @param testCaseId ID of the Test Case (required)
     * @param stepId ID of the Test Step (required)
     * @param updateVersion If you specify updateVersion&#x3D;true, the test case version will be updated when the test step deleted. (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteTestStepWithHttpInfo(Long projectId, Long testCaseId, Long stepId, Boolean updateVersion) throws QtestApiException {
        com.squareup.okhttp.Call call = deleteTestStepValidateBeforeCall(projectId, testCaseId, stepId, updateVersion, null, null);
        return qtestApiClient.execute(call);
    }

    /**
     * Deletes a Test Step (asynchronously)
     * To delete a test step of a Test Case  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 6+
     * @param projectId ID of the project (required)
     * @param testCaseId ID of the Test Case (required)
     * @param stepId ID of the Test Step (required)
     * @param updateVersion If you specify updateVersion&#x3D;true, the test case version will be updated when the test step deleted. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws QtestApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteTestStepAsync(Long projectId, Long testCaseId, Long stepId, Boolean updateVersion, final ApiCallback<Void> callback) throws QtestApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteTestStepValidateBeforeCall(projectId, testCaseId, stepId, updateVersion, progressListener, progressRequestListener);
        qtestApiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for getComment
     * @param projectId ID of the project (required)
     * @param idOrKey PID or ID of the Test Case (required)
     * @param commentId ID of the comment. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws QtestApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getCommentCall(Long projectId, String idOrKey, Long commentId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v3/projects/{projectId}/test-cases/{idOrKey}/comments/{commentId}"
            .replaceAll("\\{" + "projectId" + "\\}", qtestApiClient.escapeString(projectId.toString()))
            .replaceAll("\\{" + "idOrKey" + "\\}", qtestApiClient.escapeString(idOrKey.toString()))
            .replaceAll("\\{" + "commentId" + "\\}", qtestApiClient.escapeString(commentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = qtestApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = qtestApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            qtestApiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return qtestApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getCommentValidateBeforeCall(Long projectId, String idOrKey, Long commentId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        
        // verify the required parameter 'projectId' is set
        if (projectId == null) {
            throw new QtestApiException("Missing the required parameter 'projectId' when calling getComment(Async)");
        }
        
        // verify the required parameter 'idOrKey' is set
        if (idOrKey == null) {
            throw new QtestApiException("Missing the required parameter 'idOrKey' when calling getComment(Async)");
        }
        
        // verify the required parameter 'commentId' is set
        if (commentId == null) {
            throw new QtestApiException("Missing the required parameter 'commentId' when calling getComment(Async)");
        }
        

        com.squareup.okhttp.Call call = getCommentCall(projectId, idOrKey, commentId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Gets a Comment of a Test Case
     * To retrieve a comment of a Test Case  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 7.5+
     * @param projectId ID of the project (required)
     * @param idOrKey PID or ID of the Test Case (required)
     * @param commentId ID of the comment. (required)
     * @return CommentResource
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CommentResource getComment(Long projectId, String idOrKey, Long commentId) throws QtestApiException {
        ApiResponse<CommentResource> resp = getCommentWithHttpInfo(projectId, idOrKey, commentId);
        return resp.getData();
    }

    /**
     * Gets a Comment of a Test Case
     * To retrieve a comment of a Test Case  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 7.5+
     * @param projectId ID of the project (required)
     * @param idOrKey PID or ID of the Test Case (required)
     * @param commentId ID of the comment. (required)
     * @return ApiResponse&lt;CommentResource&gt;
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CommentResource> getCommentWithHttpInfo(Long projectId, String idOrKey, Long commentId) throws QtestApiException {
        com.squareup.okhttp.Call call = getCommentValidateBeforeCall(projectId, idOrKey, commentId, null, null);
        Type localVarReturnType = new TypeToken<CommentResource>(){}.getType();
        return qtestApiClient.execute(call, localVarReturnType);
    }

    /**
     * Gets a Comment of a Test Case (asynchronously)
     * To retrieve a comment of a Test Case  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 7.5+
     * @param projectId ID of the project (required)
     * @param idOrKey PID or ID of the Test Case (required)
     * @param commentId ID of the comment. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws QtestApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getCommentAsync(Long projectId, String idOrKey, Long commentId, final ApiCallback<CommentResource> callback) throws QtestApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getCommentValidateBeforeCall(projectId, idOrKey, commentId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CommentResource>(){}.getType();
        qtestApiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getComments
     * @param projectId ID of the project (required)
     * @param idOrKey PID or ID of the Test Case whose comments you want to retrieve (required)
     * @param page By default the first page is returned but you can specify any page number to retrieve objects (optional, default to 1)
     * @param pageSize The result is paginated. By the default, the number of objects in each page is 100 if this is omitted. You can specify your custom number (up to 999) in this parameter (optional, default to 100)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws QtestApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getCommentsCall(Long projectId, String idOrKey, Long page, Long pageSize, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v3/projects/{projectId}/test-cases/{idOrKey}/comments"
            .replaceAll("\\{" + "projectId" + "\\}", qtestApiClient.escapeString(projectId.toString()))
            .replaceAll("\\{" + "idOrKey" + "\\}", qtestApiClient.escapeString(idOrKey.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (page != null)
        localVarQueryParams.addAll(qtestApiClient.parameterToPair("page", page));
        if (pageSize != null)
        localVarQueryParams.addAll(qtestApiClient.parameterToPair("pageSize", pageSize));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = qtestApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = qtestApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            qtestApiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return qtestApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getCommentsValidateBeforeCall(Long projectId, String idOrKey, Long page, Long pageSize, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        
        // verify the required parameter 'projectId' is set
        if (projectId == null) {
            throw new QtestApiException("Missing the required parameter 'projectId' when calling getComments(Async)");
        }
        
        // verify the required parameter 'idOrKey' is set
        if (idOrKey == null) {
            throw new QtestApiException("Missing the required parameter 'idOrKey' when calling getComments(Async)");
        }
        

        com.squareup.okhttp.Call call = getCommentsCall(projectId, idOrKey, page, pageSize, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Gets all Comments of a Test Case
     * To retrieve all comments of a Test Case  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 7.5+
     * @param projectId ID of the project (required)
     * @param idOrKey PID or ID of the Test Case whose comments you want to retrieve (required)
     * @param page By default the first page is returned but you can specify any page number to retrieve objects (optional, default to 1)
     * @param pageSize The result is paginated. By the default, the number of objects in each page is 100 if this is omitted. You can specify your custom number (up to 999) in this parameter (optional, default to 100)
     * @return PagedResourceCommentResource
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public PagedResourceCommentResource getComments(Long projectId, String idOrKey, Long page, Long pageSize) throws QtestApiException {
        ApiResponse<PagedResourceCommentResource> resp = getCommentsWithHttpInfo(projectId, idOrKey, page, pageSize);
        return resp.getData();
    }

    /**
     * Gets all Comments of a Test Case
     * To retrieve all comments of a Test Case  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 7.5+
     * @param projectId ID of the project (required)
     * @param idOrKey PID or ID of the Test Case whose comments you want to retrieve (required)
     * @param page By default the first page is returned but you can specify any page number to retrieve objects (optional, default to 1)
     * @param pageSize The result is paginated. By the default, the number of objects in each page is 100 if this is omitted. You can specify your custom number (up to 999) in this parameter (optional, default to 100)
     * @return ApiResponse&lt;PagedResourceCommentResource&gt;
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<PagedResourceCommentResource> getCommentsWithHttpInfo(Long projectId, String idOrKey, Long page, Long pageSize) throws QtestApiException {
        com.squareup.okhttp.Call call = getCommentsValidateBeforeCall(projectId, idOrKey, page, pageSize, null, null);
        Type localVarReturnType = new TypeToken<PagedResourceCommentResource>(){}.getType();
        return qtestApiClient.execute(call, localVarReturnType);
    }

    /**
     * Gets all Comments of a Test Case (asynchronously)
     * To retrieve all comments of a Test Case  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 7.5+
     * @param projectId ID of the project (required)
     * @param idOrKey PID or ID of the Test Case whose comments you want to retrieve (required)
     * @param page By default the first page is returned but you can specify any page number to retrieve objects (optional, default to 1)
     * @param pageSize The result is paginated. By the default, the number of objects in each page is 100 if this is omitted. You can specify your custom number (up to 999) in this parameter (optional, default to 100)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws QtestApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getCommentsAsync(Long projectId, String idOrKey, Long page, Long pageSize, final ApiCallback<PagedResourceCommentResource> callback) throws QtestApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getCommentsValidateBeforeCall(projectId, idOrKey, page, pageSize, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<PagedResourceCommentResource>(){}.getType();
        qtestApiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getTestCase
     * @param projectId ID of the project (required)
     * @param testCaseId ID of the Test Case (required)
     * @param versionId ID of the Test Case version (optional)
     * @param expand By default, Test Steps are excluded from the response. Specify &lt;em&gt;expand&#x3D;teststep&lt;/em&gt; to include Test Steps (optional)
     * @param showParamIdentifier By default, Parameters in Test Steps are displayed in ID number mode (like \&quot;&lt;strong&gt;[~123]&lt;/strong&gt;\&quot;). Input &lt;strong&gt;&lt;em&gt;showParamIdentifier&#x3D;true&lt;/em&gt;&lt;/strong&gt; to change to Identifier text mode. Result should be like \&quot;&lt;strong&gt;[~myIdentifier]&lt;/strong&gt;\&quot;. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws QtestApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getTestCaseCall(Long projectId, Long testCaseId, Long versionId, String expand, Boolean showParamIdentifier, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v3/projects/{projectId}/test-cases/{testCaseId}"
            .replaceAll("\\{" + "projectId" + "\\}", qtestApiClient.escapeString(projectId.toString()))
            .replaceAll("\\{" + "testCaseId" + "\\}", qtestApiClient.escapeString(testCaseId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (versionId != null)
        localVarQueryParams.addAll(qtestApiClient.parameterToPair("versionId", versionId));
        if (expand != null)
        localVarQueryParams.addAll(qtestApiClient.parameterToPair("expand", expand));
        if (showParamIdentifier != null)
        localVarQueryParams.addAll(qtestApiClient.parameterToPair("showParamIdentifier", showParamIdentifier));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = qtestApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = qtestApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            qtestApiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return qtestApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getTestCaseValidateBeforeCall(Long projectId, Long testCaseId, Long versionId, String expand, Boolean showParamIdentifier, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        
        // verify the required parameter 'projectId' is set
        if (projectId == null) {
            throw new QtestApiException("Missing the required parameter 'projectId' when calling getTestCase(Async)");
        }
        
        // verify the required parameter 'testCaseId' is set
        if (testCaseId == null) {
            throw new QtestApiException("Missing the required parameter 'testCaseId' when calling getTestCase(Async)");
        }
        

        com.squareup.okhttp.Call call = getTestCaseCall(projectId, testCaseId, versionId, expand, showParamIdentifier, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Gets a Test Case
     * To retrieve a Test Case  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 6+
     * @param projectId ID of the project (required)
     * @param testCaseId ID of the Test Case (required)
     * @param versionId ID of the Test Case version (optional)
     * @param expand By default, Test Steps are excluded from the response. Specify &lt;em&gt;expand&#x3D;teststep&lt;/em&gt; to include Test Steps (optional)
     * @param showParamIdentifier By default, Parameters in Test Steps are displayed in ID number mode (like \&quot;&lt;strong&gt;[~123]&lt;/strong&gt;\&quot;). Input &lt;strong&gt;&lt;em&gt;showParamIdentifier&#x3D;true&lt;/em&gt;&lt;/strong&gt; to change to Identifier text mode. Result should be like \&quot;&lt;strong&gt;[~myIdentifier]&lt;/strong&gt;\&quot;. (optional)
     * @return TestCaseWithCustomFieldResource
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public TestCaseWithCustomFieldResource getTestCase(Long projectId, Long testCaseId, Long versionId, String expand, Boolean showParamIdentifier) throws QtestApiException {
        ApiResponse<TestCaseWithCustomFieldResource> resp = getTestCaseWithHttpInfo(projectId, testCaseId, versionId, expand, showParamIdentifier);
        return resp.getData();
    }

    /**
     * Gets a Test Case
     * To retrieve a Test Case  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 6+
     * @param projectId ID of the project (required)
     * @param testCaseId ID of the Test Case (required)
     * @param versionId ID of the Test Case version (optional)
     * @param expand By default, Test Steps are excluded from the response. Specify &lt;em&gt;expand&#x3D;teststep&lt;/em&gt; to include Test Steps (optional)
     * @param showParamIdentifier By default, Parameters in Test Steps are displayed in ID number mode (like \&quot;&lt;strong&gt;[~123]&lt;/strong&gt;\&quot;). Input &lt;strong&gt;&lt;em&gt;showParamIdentifier&#x3D;true&lt;/em&gt;&lt;/strong&gt; to change to Identifier text mode. Result should be like \&quot;&lt;strong&gt;[~myIdentifier]&lt;/strong&gt;\&quot;. (optional)
     * @return ApiResponse&lt;TestCaseWithCustomFieldResource&gt;
     * @throws QtestApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<TestCaseWithCustomFieldResource> getTestCaseWithHttpInfo(Long projectId, Long testCaseId, Long versionId, String expand, Boolean showParamIdentifier) throws QtestApiException {
        com.squareup.okhttp.Call call = getTestCaseValidateBeforeCall(projectId, testCaseId, versionId, expand, showParamIdentifier, null, null);
        Type localVarReturnType = new TypeToken<TestCaseWithCustomFieldResource>(){}.getType();
        return qtestApiClient.execute(call, localVarReturnType);
    }

    /**
     * Gets a Test Case (asynchronously)
     * To retrieve a Test Case  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 6+
     * @param projectId ID of the project (required)
     * @param testCaseId ID of the Test Case (required)
     * @param versionId ID of the Test Case version (optional)
     * @param expand By default, Test Steps are excluded from the response. Specify &lt;em&gt;expand&#x3D;teststep&lt;/em&gt; to include Test Steps (optional)
     * @param showParamIdentifier By default, Parameters in Test Steps are displayed in ID number mode (like \&quot;&lt;strong&gt;[~123]&lt;/strong&gt;\&quot;). Input &lt;strong&gt;&lt;em&gt;showParamIdentifier&#x3D;true&lt;/em&gt;&lt;/strong&gt; to change to Identifier text mode. Result should be like \&quot;&lt;strong&gt;[~myIdentifier]&lt;/strong&gt;\&quot;. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws QtestApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getTestCaseAsync(Long projectId, Long testCaseId, Long versionId, String expand, Boolean showParamIdentifier, final ApiCallback<TestCaseWithCustomFieldResource> callback) throws QtestApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getTestCaseValidateBeforeCall(projectId, testCaseId, versionId, expand, showParamIdentifier, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<TestCaseWithCustomFieldResource>(){}.getType();
        qtestApiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getTestCase_0
     * @param projectId ID of the project (required)
     * @param testCaseId ID of the Test Case (required)
     * @param versionId ID of the Test Case version (required)
     * @param showParamIdentifier By default, Parameters in Test Steps are displayed in ID number mode (like \&quot;&lt;strong&gt;[~123]&lt;/strong&gt;\&quot;). Input &lt;strong&gt;&lt;em&gt;showParamIdentifier&#x3D;true&lt;/em&gt;&lt;/strong&gt; to change to Identifier text mode. Result should be like \&quot;&lt;strong&gt;[~myIdentifier]&lt;/strong&gt;\&quot;. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws QtestApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getTestCase_0Call(Long projectId, Long testCaseId, Long versionId, Boolean showParamIdentifier, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws QtestApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v3/projects/{projectId}/test-cases/{testCaseId}/versions/{versionId}"
            .replaceAll("\\{" + "projectId" + "\\}", qtestApiClient.escapeString(projectId.toString()))
            .replaceAll("\\{" + "testCaseId" + "\\}", qtestApiClient.escapeString(testCaseId.toString()))
            .replaceAll("\\{" + "versionId" + "\\}", qtestApiClient.escapeString(versionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (showParamIdentifier != null)
        localVarQueryParams.addAll(qtestApiClient.parameterToPair("showParamIdentifier", showParamIdentifier));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = qtestApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = qtestApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            qtestApiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return qtestApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
[...]
